
body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-family: 'Bona Nova', serif;
}

header {
    grid-area: header;
    background-color: darkcyan;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #446faa; 
    color: #ffffff;
}

h2 {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Bona Nova', serif;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr .5fr;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
}

.main-content {
    background-color: #ccc;
    padding: 1rem;
    margin: 1rem;
}

aside {
    background-color: #fff;
    flex: 1;

    border: 4px solid #333;
    gap: 2rem;
}

.card {
    background-color: #f0f8ff; /* Light background for cards */
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 1rem;
    padding: 1rem;
    
}
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.content-wrapper img {
    order: 1;
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.content-wrapper.reverse {
    flex-direction: row-reverse;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
